# PROJECT TITLE: FINDING THE MOST INTERESTING TWEETS AND FAN SENTIMENT DURING A GAME TELECAST IN REALTIME

# PART 3: PREPROCESSING OF SCHEDULE & EVENT DATA:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('knockouts.csv')
df['PenScore1'] = df['PenScore1'].fillna(0)
df['PenScore2'] = df['PenScore2'].fillna(0)
df

,Category,DateTime,Team1,Team2,Score1,Score2,PenScore1,PenScore2,Winner
0,ROUND OF 16,30-06-2018 17:00,FRANCE,ARGENTINA,4,3,0.0,0.0,FRANCE
1,ROUND OF 16,30-06-2018 21:00,URUGUAY,PORTUGAL,2,1,0.0,0.0,URUGUAY
2,ROUND OF 16,01-07-2018 17:00,SPAIN,RUSSIA,1,1,3.0,4.0,RUSSIA
3,ROUND OF 16,01-07-2018 21:00,CROATIA,DENMARK,1,1,3.0,2.0,CROATIA
4,ROUND OF 16,02-07-2018 18:00,BRAZIL,MEXICO,2,0,0.0,0.0,BRAZIL
5,ROUND OF 16,02-07-2018 21:00,BELGIUM,JAPAN,3,2,0.0,0.0,BELGIUM
6,ROUND OF 16,03-07-2018 17:00,SWEDEN,SWITZERLAND,1,0,0.0,0.0,SWEDEN
7,ROUND OF 16,03-07-2018 21:00,COLOMBIA,ENGLAND,1,1,3.0,4.0,ENGLAND
8,QUARTER FINALS,06-07-2018 17:00,URUGUAY,FRANCE,0,2,0.0,0.0,FRANCE
9,QUARTER FINALS,06-07-2018 21:00,BRAZIL,BELGIUM,1,2,0.0,0.0,BELGIUM
10,QUARTER FINALS,07-07-2018 18:00,SWEDEN,ENGLAND,0,2,0.0,0.0,ENGLAND
11,QUARTER FINALS,07-07-2018 21:00,RUSSIA,CROATIA,2,2,3.0,4.0,CROATIA
12,SEMI FINALS,10-07-2018 21:00,FRANCE,BELGIUM,1,0,0.0,0.0,FRANCE
13,SEMI FINALS,11-07-2018 21:00,CROATIA,ENGLAND,2,1,0.0,0.0,CROATIA
14,THIRD PLACE,14-07-2018 17:00,BELGIUM,ENGLAND,2,0,0.0,0.0,BELGIUM
15,FINALS,15-07-2018 18:00,FRANCE,CROATIA,4,2,0.0,0.0,FRANCE

In [3]:
df1 = pd.read_csv('events.csv')
df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL
...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL
1465,90,6,FRANCE,CROATIA,NaN,NaN,END

# 1. Set Event IDs

In [4]:
df1['MatchNo'] = 0
cnt = 0
for i in range(1466):
    if df1['Timestamp'][i] == 0:
        cnt += 1
    df1['MatchNo'][i] = cnt

In [5]:
df1['SPNo'] = 0
for i in range(1466):
    if df1['Timestamp'][i] == 0 and df1['Event'][i] == 'START':
        cnt = 1
    if df1['Timestamp'][i] == 45 and df1['Event'][i] == 'START':
        cnt += 1
    if df1['Timestamp'][i] == 90 and df1['Event'][i] == 'START':
        cnt += 1
    if df1['Timestamp'][i] == 105 and df1['Event'][i] == 'START':
        cnt += 1
    if df1['Timestamp'][i] == 120 and df1['Event'][i] == 'START':
        cnt += 1
    df1['SPNo'][i] = cnt

In [6]:
df1['EvNo'] = 0
for i in range(1466):
    if df1['Timestamp'][i] == 0 and df1['Event'][i] == 'START':
        cnt = 1
    if df1['Timestamp'][i] == 45 and df1['Event'][i] == 'START':
        cnt = 1
    if df1['Timestamp'][i] == 90 and df1['Event'][i] == 'START':
        cnt = 1
    if df1['Timestamp'][i] == 105 and df1['Event'][i] == 'START':
        cnt = 1
    if df1['Timestamp'][i] == 120 and df1['Event'][i] == 'START':
        cnt = 1
    df1['EvNo'][i] = cnt
    cnt += 1

In [7]:
df1['EventID'] = 0
tmp = 0
for i in range(1466):
    df1['EventID'][i] = (df1['MatchNo'][i] * 1000) + (df1['SPNo'][i] * 100) + df1['EvNo'][i]
df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event,MatchNo,SPNo,EvNo,EventID
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START,1,1,1,1101
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL,1,1,2,1102
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL,1,1,3,1103
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL,1,1,4,1104
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL,1,1,5,1105
...,...,...,...,...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,30,16230
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,31,16231
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD,16,2,32,16232
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL,16,2,33,16233
1465,90,6,FRANCE,CROATIA,NaN,NaN,END,16,2,34,16234

# 2. Set Event Time

In [8]:
df2 = df['DateTime']
time_array = []
for i in df2:
    x = i.split(" ")
    time_array.append(x[1])
time_array

['17:00',
 '21:00',
 '17:00',
 '21:00',
 '18:00',
 '21:00',
 '17:00',
 '21:00',
 '17:00',
 '21:00',
 '18:00',
 '21:00',
 '21:00',
 '21:00',
 '17:00',
 '18:00']

In [9]:
ta2 = []
hr = 0
for i in time_array:
    y = i.split(":")
    hr = int(y[0])
    ta2.append(hr)
ta2

[17, 21, 17, 21, 18, 21, 17, 21, 17, 21, 18, 21, 21, 21, 17, 18]

In [10]:
df1['EventHr'] = 0
df1['EventMnt'] = 0
df1['TSEM'] = 0
for i in range(1466):
    df1['EventHr'][i] = ta2[df1['MatchNo'][i] - 1]
    df1['TSEM'][i] = df1['Timestamp'][i] + df1['ExtraMins'][i]
df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event,MatchNo,SPNo,EvNo,EventID,EventHr,EventMnt,TSEM
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START,1,1,1,1101,17,0,0
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL,1,1,2,1102,17,0,1
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL,1,1,3,1103,17,0,3
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL,1,1,4,1104,17,0,3
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL,1,1,5,1105,17,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,30,16230,18,0,91
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,31,16231,18,0,92
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD,16,2,32,16232,18,0,93
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL,16,2,33,16233,18,0,94
1465,90,6,FRANCE,CROATIA,NaN,NaN,END,16,2,34,16234,18,0,96

In [11]:
def time_calc(mn, tsem_arr):
    a = []
    

    for i in range(1466):
        if df1['MatchNo'][i] == mn:
            a.append(df1['TSEM'][i])
    
    for j in range(4):
        diff = 0
        pos = 0
        for i in range(len(a)):
            if a[i] < a[i-1] and a[i] != 0:
                diff = a[i-1] - a[i]
                pos = i
                break

        for i in range(len(a)):
            if i >= pos:
                a[i] += diff
            
    tsem_arr.append(a)
    return tsem_arr

In [12]:
tsem_arr = []
tsem_proc = []
for i in range(1, 17):
    tsem_arr = time_calc(i, tsem_arr)
for i in tsem_arr:
    for j in i:
        tsem_proc.append(j)
df1['TSEM_Proc'] = tsem_proc
df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event,MatchNo,SPNo,EvNo,EventID,EventHr,EventMnt,TSEM,TSEM_Proc
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START,1,1,1,1101,17,0,0,0
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL,1,1,2,1102,17,0,1,1
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL,1,1,3,1103,17,0,3,3
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL,1,1,4,1104,17,0,3,3
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL,1,1,5,1105,17,0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,30,16230,18,0,91,94
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,31,16231,18,0,92,95
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD,16,2,32,16232,18,0,93,96
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL,16,2,33,16233,18,0,94,97
1465,90,6,FRANCE,CROATIA,NaN,NaN,END,16,2,34,16234,18,0,96,99

In [13]:
for i in range(1466):
    df1['EventMnt'][i] = df1['TSEM_Proc'][i]
    if df1['EventMnt'][i] > 59 and df1['EventMnt'][i] < 120:
        df1['EventMnt'][i] -= 60
        df1['EventHr'][i] += 1
    if df1['EventMnt'][i] > 119:
        df1['EventMnt'][i] -= 120
        df1['EventHr'][i] += 2

df1['Time'] = ''
for i in range(1466):
    if df1['EventMnt'][i] > 9:
        df1['Time'][i] = str(df1['EventHr'][i]) + ':' + str(df1['EventMnt'][i])
    else:
        df1['Time'][i] = str(df1['EventHr'][i]) + ':0' + str(df1['EventMnt'][i])

df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event,MatchNo,SPNo,EvNo,EventID,EventHr,EventMnt,TSEM,TSEM_Proc,Time
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START,1,1,1,1101,17,0,0,0,17:00
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL,1,1,2,1102,17,1,1,1,17:01
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL,1,1,3,1103,17,3,3,3,17:03
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL,1,1,4,1104,17,3,3,3,17:03
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL,1,1,5,1105,17,8,8,8,17:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,30,16230,19,34,91,94,19:34
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,2,31,16231,19,35,92,95,19:35
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD,16,2,32,16232,19,36,93,96,19:36
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL,16,2,33,16233,19,37,94,97,19:37
1465,90,6,FRANCE,CROATIA,NaN,NaN,END,16,2,34,16234,19,39,96,99,19:39

# 3. Set Event Date

In [14]:
df2 = df['DateTime']
date_array = []
for i in df2:
    x = i.split(" ")
    date_array.append(x[0])
date_array

['30-06-2018',
 '30-06-2018',
 '01-07-2018',
 '01-07-2018',
 '02-07-2018',
 '02-07-2018',
 '03-07-2018',
 '03-07-2018',
 '06-07-2018',
 '06-07-2018',
 '07-07-2018',
 '07-07-2018',
 '10-07-2018',
 '11-07-2018',
 '14-07-2018',
 '15-07-2018']

In [15]:
df1['Date'] = ''
for i in range(1466):
    df1['Date'][i] = date_array[df1['MatchNo'][i] - 1]

df1.drop(['SPNo', 'EvNo', 'TSEM', 'TSEM_Proc'], axis = 1, inplace = True)
df1

,Timestamp,ExtraMins,Team1,Team2,Player,Team,Event,MatchNo,EventID,EventHr,EventMnt,Time,Date
0,0,0,FRANCE,ARGENTINA,NaN,NaN,START,1,1101,17,0,17:00,30-06-2018
1,1,0,FRANCE,ARGENTINA,GIROUD,FRANCE,FOUL,1,1102,17,1,17:01,30-06-2018
2,3,0,FRANCE,ARGENTINA,POGBA,FRANCE,FOUL,1,1103,17,3,17:03,30-06-2018
3,3,0,FRANCE,ARGENTINA,MATUIDI,FRANCE,FOUL,1,1104,17,3,17:03,30-06-2018
4,8,0,FRANCE,ARGENTINA,MASCHERANO,ARGENTINA,FOUL,1,1105,17,8,17:08,30-06-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,90,1,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,16230,19,34,19:34,15-07-2018
1462,90,2,FRANCE,CROATIA,VRSALJKO,CROATIA,FOUL,16,16231,19,35,19:35,15-07-2018
1463,90,3,FRANCE,CROATIA,VRSALJKO,CROATIA,YELLOW CARD,16,16232,19,36,19:36,15-07-2018
1464,90,4,FRANCE,CROATIA,FEKIR,FRANCE,FOUL,16,16233,19,37,19:37,15-07-2018
1465,90,6,FRANCE,CROATIA,NaN,NaN,END,16,16234,19,39,19:39,15-07-2018

In [16]:
df1.to_csv('events_proc.csv')